.posts-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 60px;
    flex-direction: column;
}

.add-post-heading {
    text-align: center;
    padding-top: 10px;
    color: #002B5B;
}

.post-card-outer {
    border: 2px solid #000;
}

.post-icons {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
}

.delete-post-icon,
.edit-post-icon {
    height: 50px;
    width: 50px;
}

.outer-container-post-card {
    background-color: #fff;
    margin-bottom: 30px;
    width: 600px;
    padding: 15px;
    border-radius: 12px;
}

.post-comment {
    margin-left: 10px;
}
.post-page{
    background-color: #DAF5FF;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.post-comment hr{
    width: 550px;
}
.post-comment hr:nth-child(3){
    margin-bottom: 20px;
}
.post-comment > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.show-comments-toggle{
    background-color: #159895;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
}